@media (max-width: 1200px) {

    section,
    footer {
        max-width: 1200px;

    }

    .fresh-section,
    /* .nav-telephone, */
    .free.guarantee,
    .categories-section,
    .sale-month-sec,
    /* .viewpopular, */
    .summermore,
    .clientsection,
    footer {
        width: 1000px;
    }

    .popular-view,
    /* .stepseries, */
    .latestnews,
    /* .appleorangeice, */
    header {
        width: 730px;
    }


    .novmore {
        gap: 15px;
    }

    /* .apple-sale {
        width: 148px;
    } */

    .fruitnow,
    .lownow,
    .bestnow,
    /* .novread, */
    .pelfox {
        width: 235px;
    }

    /* .salesecs {
        width: 296px;
    } */

    .summernow {
        /* width: 733px;
        padding-left: 430px; */
        height: 400px;
    }

    .summernowtext {
        font-size: 20px;
        font-weight: 600;
    }

    .special,
    .off {
        width: 600px;
        height: 500px;
    }

    .special p {
        font-size: 35px;
    }

    .off p {
        font-size: 35px;
    }

    /* .organic {
        width: 500px;
    } */

    .free-order {
        width: 130px;
    }
}


@media (max-width: 850px) {

    /* .index-center {
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    } */
    header,
    section,
    footer {
        width: 100%;
    }

    .menu-btn {
        border: unset;
        background: black;
        cursor: pointer;
        display: block;
        font-size: 35px;
    }

    .menu-btn .icon-mobile-nav[name="close-outline"] {
        display: none;
    }

    .menu-btn .icon-mobile-nav[name="menu-outline"] {
        display: block;
    }

    .nav-open nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }


    header {
        padding: 0;
    }

    .heart-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .top {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .ecobazar-wrap {
        display: flex;
        flex-direction: row;
        /* position: sticky; */
    }

    .nav-telephone,
    .nav-telephonefour {
        display: none;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        height: 100vh;
        position: sticky;
        width: 70%;
        margin-top: 0;
        justify-content: space-between;
        /* justify-self: center; */
        padding: 0;
        z-index: 2;
    }


    .nav-telephone a,
    .nav-telephonefour a {
        width: 100px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .tel-wrap span {
        width: 150px;
    }

    .nav-telephonefour nav,
    .nav-telephone nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        font-size: 18px;
        padding-left: 30px;
    }

    /* nav, */
    .freshfood {
        display: flex;
        flex-direction: column;
    }

    /* .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    } */

    a.icon {
        background: black;
        display: block;
        position: fixed;
        color: #fff;
        font-size: 30px;
        text-decoration: none;
        text-align: center;
        right: 10px;
        top: 10px;
        height: 35px;
        width: 40px;
        z-index: 2;
    }

    .ecobazar-wrap .icon {
        background: black;
        display: block;
        position: relative;
        right: 0;
        top: 0;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    /* nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    } */

    form input {
        width: 230px;
    }



    /* .nav-telephone, */
    .off,
    .special,
    .fresh-health,
    .popular-view,
    .bestnow,
    .lownow,
    .fruitnow,
    .viewpopular,
    .salemango,
    .summermore,
    .summernow,
    .index-center,
    .novread,
    .latestnews,
    .pelcustomer,
    .pelfox,
    /* .appleorangeice, */
    .submagna p,
    .apple-sale,
    .applesale,
    .applesalle,
    .salesecs,
    .jennywrap {
        width: 100%;
        padding: 0;
        margin-left: 0px;
    }

    .appleorangeice div {
        height: 100%;
    }

    .green-icon {
        height: 120px;
    }

    .green-rate {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .summernow {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        /* padding-left: 880px; */
    }

    .salesecs {
        height: 570px;
        margin-bottom: 20px;
    }

    .salesecsdayssecs {
        padding-bottom: 30px;
    }

    .chinaeggplant {
        display: flex;
        flex-direction: column;
    }


    .applesale {
        height: 500px;
    }

    .applesalle {
        height: 500px;
    }

    .bigmango {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .salegreen {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* width: 1200px; */
    }

    .viewpopular {
        /* height: 950px; */
    }

    #mylinks {
        display: none;
        position: fixed;
    }

    .free-garrantee {
        display: flex;
        flex-direction: column;
        height: 400px;
        padding-left: 10px;
        padding-right: 60px;
        padding-bottom: 20px;
    }

    .freegarrantee {
        display: flex;
        flex-direction: column;
        height: 400px;
        padding-left: 10px;
        padding-right: 60px;
        padding-bottom: 20px;
    }

    .telwrap span {
        font-size: 5px;
    }

    .ecobazar-wrap span {
        font-size: 25px;
        /* color: #fff; */
        font-weight: 600;
        height: 44px;
    }

    .fresh-wrap {
        display: flex;
        flex-direction: column;
    }

    .sub {
        width: 300px;
    }

    .organic {
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    .organic-texts {
        padding: 0;
    }

    .catcategoryy {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .freshcategory {
        margin-top: 15px;
    }

    .iconcategories {
        width: 300px;
        padding: 0;
    }

    .iconcategoriesfour {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .iconcategoriesfour a {
        display: block;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }

    .freshcategory div {
        width: 100%;
    }

    .off-wrap {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        justify-content: space-between;
    }

    /* .off,
    .special {
        width: 400px;
    } */

    /* .free-garrantee {
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-columns: 300px 300px;
        height: 170px;
    } */

    .fresh-health,
    .fresh-healththree,
    .appleorangeice,
    .freshbreakfast {
        /* display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 300px 300px; */
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .freshbreakfast img {
        height: 50vh;
        width: 100%;
    }

    .stepseries,
    .allviewallwrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    /* .fresh-fruit-wrap, */
    .green-peper {
        /* display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .green-eggplant {
        display: flex;
        flex-direction: column;
        /* gap: 40px; */
    }

    .apple-sale {
        /* width: 550px; */
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .apple-sale img {
        height: 270px;
    }

    .fresh-fruit-wrap,
    .fresh-fruit-wrapthree {
        width: 100%;
        height: 300px;
    }

    .fresh-fruit-wrapthree img {
        width: 200px;
        height: 200px;
    }

    .fresh-fruit-wrap img {
        width: 200px;
        height: 200px;
    }

    .free-order {
        width: 100px;
    }

    .organictexts {
        padding: 0;
    }

    .all-order {
        font-size: 13px;
    }



    .organictwo {
        width: 100%;
        background-position: center;
    }

    /* .freshfood {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1200px;
    } */

    .sale-fruit {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .salefruit {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .bestnow,
    .fruitnow,
    .lownow {
        /* width: 100%; */
        height: 600px;
    }

    .bestnowtext {
        font-size: 25px;
    }

    .bestnow p,
    .bestnowtextp,
    .sixtyoff,
    .upto,
    .green-apple,
    .green-price,
    .green-p,
    p,
    .startedat,
    .staretdprice {
        font-size: 25px;
    }

    .bestnow button,
    .bestnowtext button {
        width: 300px;
        height: 60px;
        font-size: 30px;
    }

    .novmore,
    .pelcustomer,
    .subinsta,
    .novmorefour {
        display: flex;
        flex-direction: column;
        /* gap: 40px; */
        margin-bottom: 40px;
    }

    .novread {
        /* width: 730px; */
        height: 600px;
    }

    .pelfox {
        /* width: 730px; */
        height: 270px;
    }

    .accounthealth {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .ecobazarpayment,
    .ecobazarpaymentfour {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
    }

    /* .pelfox p,
    .submagna p,
    .accounthealth span,
    .ecobazarcom p {
        font-size: 20px;
    } */

    .novbackgroundone,
    .novbackgroundtwo,
    .novbackgroundthree {
        height: 400px;
    }

    .clientsection {
        padding-bottom: 40px;
    }

    .novtexts {
        font-size: 25px;
    }

    .appleorangeice,
    {
    /* display: grid;
        grid-template-columns: 575px 575px;
        grid-template-rows: 200px 200px 200px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.appleorangeice div {
    width: 100%;
    height: 400px;
}

.popular-categoriefour {
    font-size: 18px;
}

.organicthree,
.summershop,
.organicfour,
.fruitmanfruits {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.organicthree img {
    width: 100%;
}

.organicfour img {
    width: 100%;
}

.free-garranteethree {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 20px;
    width: 100%;
}

.free-garranteefour {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

.free-iconfourone {
    width: 100%;
    padding-top: 10px;
}

.free-iconfour {
    width: 100%;
    padding-top: 10px;
}

.submagnathree,
.submagnafour {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.apple-salethree {
    width: 97vw;
    height: 70vh;
}

.apple-salethree img {
    width: 300px;
    height: 300px;
}

/* 
    .accountwishlisthead {
        font-size: 5px;
    }

    .accountwishlisttext {
        font-size: 5px;
    } */

.yourinstaform,
.yourinstaformtwo,
.yourinstaformthree {
    width: 300px;
    align-items: center;
}

.sublabel {
    background-color: #00B207;
    height: 45px;
    color: white;
    padding: 14px 14px;
    border-radius: 23px;
    margin-left: -55px;
}

.ecobazar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ecobazerplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ecobazercom {
    margin-bottom: 20px;
}

.ecobazerplay {
    padding-bottom: 20px;
}



.ecobazarpaymenttwo {
    display: flex;
    flex-direction: column;

}

.summerorder {
    display: flex;
    flex-direction: column;
    /* display: grid;
        grid-template-columns: 600px 555px; */
}

.jennyfox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.hotorder {
    display: flex;
    flex-direction: column;
}

/* .hotorder {
    display: grid;
    grid-template-columns: 550px;
} */

.summercorn {
    display: flex;
    flex-direction: column;

}

/* .summercorn {
    display: grid;
    grid-template-columns: 550px;
    gap: 140px;
} */

.fruitandtext,
.apple-saletwo,
.summershop {
    width: 100%;
}