@media (max-width: 1200px) {

    section,
    footer {
        max-width: 1200px;
    }

    .fresh-section,
    header,
    .nav-telephone,
    .free.guarantee,
    .categories-section,
    .sale-month-sec,
    /* .viewpopular, */
    .summermore,
    .clientsection,
    footer {
        width: 1000px;
    }

    .popular-view,
    /* .stepseries, */
    .latestnews,
    /* .appleorangeice, */
    header {
        width: 730px;
    }


    .novmore {
        gap: 15px;
    }

    /* .apple-sale {
        width: 148px;
    } */

    .fruitnow,
    .lownow,
    .bestnow,
    /* .novread, */
    .pelfox {
        width: 235px;
    }

    /* .salesecs {
        width: 296px;
    } */

    .summernow {
        /* width: 733px;
        padding-left: 430px; */
        height: 400px;
    }

    .summernowtext {
        font-size: 20px;
        font-weight: 600;
    }

    .special,
    .off {
        width: 600px;
        height: 500px;
    }

    .special p {
        font-size: 35px;
    }

    .off p {
        font-size: 35px;
    }

    /* .organic {
        width: 500px;
    } */

    .free-order {
        width: 130px;
    }
}

@media (max-width: 800px) {

    * {
        box-sizing: border-box;
    }

    .index-center {
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .top {
        display: flex;
        flex-direction: column;
    }

    .nav-telephone {
        display: flex;
        flex-direction: column;
        height: 300px;
        /* display: none; */
    }

    nav {
        display: flex;
        flex-direction: column;
    }



    form input {
        width: 209px;
    }

    .top,
    .nav-telephone,
    .organic,
    .off,
    .special,
    .fresh-health,
    .popular-view,
    .bestnow,
    .lownow,
    .fruitnow,
    .viewpopular,
    .salemango,
    .summermore,
    .summernow,
    .index-center,
    .novread,
    .latestnews,
    .pelcustomer,
    .pelfox,
    .stepseries,
    .appleorangeice,
    .submagna p,
    .apple-sale,
    .applesale,
    .applesalle,
    .salesecs {
        width: 355px;
        padding: 0;
        margin-left: 0px;
    }

    .appleorangeice div {
        height: 100%;
    }

    .green-icon {
        height: 120px;
    }

    .green-rate {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .summernow {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        /* padding-left: 880px; */
    }

    .salesecs {
        height: 570px;
        margin-bottom: 20px;
    }

    .salesecsdayssecs {
        padding-bottom: 30px;
    }

    .chinaeggplant {
        display: flex;
        flex-direction: column;
    }


    .applesale {
        height: 500px;
    }

    .applesalle {
        height: 500px;
    }

    .bigmango {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .salegreen {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* width: 1200px; */
    }

    .viewpopular {
        /* height: 950px; */
    }

    .free-garrantee {
        display: flex;
        flex-direction: column;
        height: 400px;
        padding-left: 10px;
        padding-right: 60px;
        padding-bottom: 20px;
    }

    .freegarrantee {
        width: 1200px;
        padding-left: 10px;
        padding-right: 60px;
    }

    .telwrap span {
        font-size: 5px;
    }

    .ecobazar-wrap span {
        font-size: 25px;
    }

    .fresh-wrap {
        display: flex;
        flex-direction: column;
    }

    /* .organic {
        width: 100%;
    } */

    .freshcategory {
        width: 420px;
    }

    .iconcategories {
        width: 300px;
        padding: 0;
    }

    .freshcategory div {
        width: 100%;
    }

    .off-wrap {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        justify-content: space-between;
    }

    /* .off,
    .special {
        width: 400px;
    } */

    /* .free-garrantee {
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-columns: 300px 300px;
        height: 170px;
    } */

    .fresh-health {
        /* display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 300px 300px; */
        display: flex;
        flex-direction: column;
    }

    /* .fresh-fruit-wrap, */
    .green-peper {
        /* display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .green-eggplant {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .apple-sale {
        /* width: 550px; */
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .apple-sale img {
        height: 270px;
    }

    .fresh-fruit-wrap {
        width: 100%;
        height: 300px;
    }

    .fresh-fruit-wrap img {
        width: 200px;
        height: 200px;
    }

    .free-order {
        width: 100px;
    }

    .all-order {
        font-size: 13px;
    }

    .organictwo {
        width: 100%;
    }

    .freshfood {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1200px;
    }

    .sale-fruit {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .salefruit {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .bestnow,
    .fruitnow,
    .lownow {
        /* width: 100%; */
        height: 600px;
    }

    .bestnowtext {
        font-size: 25px;
    }

    .bestnow p,
    .bestnowtextp,
    .sixtyoff,
    .upto,
    .green-apple,
    .green-price,
    .green-p,
    p,
    .startedat,
    .staretdprice {
        font-size: 25px;
    }

    .bestnow button,
    .bestnowtext button {
        width: 300px;
        height: 60px;
        font-size: 30px;
    }

    .novmore,
    .pelcustomer,
    .subinsta {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 40px;
    }

    .novread {
        /* width: 730px; */
        height: 600px;
    }

    .pelfox {
        /* width: 730px; */
        height: 270px;
    }

    .pelfox p,
    .submagna p,
    .accounthealth span,
    .ecobazarcom p {
        font-size: 20px;
    }

    .novbackgroundone,
    .novbackgroundtwo,
    .novbackgroundthree {
        height: 400px;
    }

    .clientsection {
        padding-bottom: 40px;
    }

    .novtexts {
        font-size: 25px;
    }

    .appleorangeice {
        /* display: grid;
        grid-template-columns: 575px 575px;
        grid-template-rows: 200px 200px 200px; */
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    .appleorangeice div {
        width: 100%;
        height: 400px;
    }

    .accountwishlisthead {
        font-size: 5px;
    }

    .accountwishlisttext {
        font-size: 5px;
    }

    .yourinstaform {
        width: 350px;
        align-items: center;
    }

    .ecobazar {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .summerorder {
        display: grid;
        grid-template-columns: 600px 555px;
    }


    .hotorder {
        display: grid;
        grid-template-columns: 550px;
    }

    .summercorn {
        display: grid;
        grid-template-columns: 550px;
        gap: 140px;
    }

    .summershop,
    .apple-saletwo,
    .hotlettuce,
    .fruitandtext {
        width: 100%;
    }
}